{% extends 'base.html' %}
{% load bbs_filter %}
{% block content %}
<div class="container px-4 px-lg-5" style="margin-top: 10px;">
    <div class="card text-center">
        <div class="card-header" style="align-content: center;">
            <h1>Finds는...</h1>
            <hr>
            <p style="margin-bottom: 0px;">Finds &gt; Intro</p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <div class="badge badge-info text-wrap">
              F
            </div>
            <div class="badge badge-info text-wrap">
              i
            </div>
            <div class="badge badge-info text-wrap">
              n
            </div>
            <div class="badge badge-info text-wrap">
              d
            </div>
            <div class="badge badge-info text-wrap">
              s
            </div>
            <p class="text-monospace">forensic integrative next dna-analysis system</p>
        </div>
      </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}