{% extends 'base.html' %}
{% load bbs_filter %}
{% block content %}
<div class="container px-4 px-lg-5" style="margin-top: 10px;">
    <div class="card text-center">
        <div class="card-header" style="align-content: center;">
            <h2>INTRODUCTION</h2>
            <hr>
            <p style="margin-bottom: 0px;">Finds &gt; Intro</p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <p class="intro_tit content_tit">법의학의 교육, 감정 및 연구를 담당하고 있는<br /><span>서울대 법의학교실에 오신 것을 환영합니다.</span></p>
            <p class="intro_desc">
            1984년 개설된 서울대 법의학교실은 인간의 죽음과 관련되어 발생하는 다양한 문제를 과학적으로 분석하여 그들의 인과관계를 통해 사회 정의에 이바지 하는 <b>법의학의 교육, 감정 및 연구를 담당</b>하고 있습니다. 서울대 법의학교실은 서울대학교를 포함하는 전국 10여개의 학교 및 국가기관의 법의학 강의를 실시하며, 국립과학수사연구원과 연계를 통해 연 300 건 이상의 부검을 담당하며, 경찰, 검찰 및 법원에서 의뢰되는 연 100건 이상의 법의학 자문을 통해 사회적으로 책무를 다하고 있습니다.
            <br><br>2012년부터 주임교수를 맡고 있는 이숭덕 교수는 법의 유전학의 과학수사의 <b>실제적 적용에 대한 연구를 지속적으로 수행</b>하고 있습니다. 2013년도부터 법의학교실에 합류한 김미경 교수는 지적재산권을 포함하는 생명과학 정책에 관한 연구적 역량을 발휘하고 있습니다. 유성호 교수는 부검 감정을 통해 substance abuse 관련 사망에 대한 연구를 하고 있습니다. 2018년 임용된 이환영 교수는 법의 유전학 분야에서 개인의 특성, 연령 등을 식별하는 연구를 진행하고 있습니다.
            <br><br>2007년 창설한 법의학연구소는 이제까지 독자적인 발전을 이루던 법의학 내의 여러 분야에 대한 연구 통합 기구로서 법의학 연구의 심화 집중 기능을 담당하고 있으며 <b>국내 법의학연구의 중심지로서의 역할을 다하려고 노력</b>하고 있습니다.
            </p>
            </p>
        </div>
      </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}