{% extends 'base.html' %}
{% load bbs_filter %}
{% block content %}
<div class="container px-4 px-lg-5" style="margin-top: 10px;">
    <div class="card text-center">
        <div class="card-header" style="align-content: center;">
            <h1>Finds는...</h1>
            <hr>
            <p style="margin-bottom: 0px;">Finds &gt; Intro</p>
        </div>
        <div class="card" style="height: max-content;">
          <div class="row no-gutters">
            <div class="col-md-5">
            <div class="card-body" style="align-content: center;">
              <img src="/static/media/site_img/finds.jpg" alt="아이콘"width="fit-content" height="fit-content">
            </div>
            </div>
            <div class="col-md-7">
              <div class="card-body" style="font-size: 20px; text-align: left;">
                <div class="badge badge-info" style="font-size: 87%;"><b style="color: black;">F</b>orensic <b style="color: black;">i</b>ntegrative <b style="color: black;">n</b>ext <b style="color: black;">d</b>na-analysis <b style="color: black;">s</b>ystem</div>
                <br>의 약자로 추가적인 수사 정보 획득을 위한 차세대 법유전학 분석 체계 구축 및 첨단 융복합 기술 기반 DNA감식 고도화를 목적으로 합니다.
                <hr>
                <p>
                  본 사이트에서는 현재 <b>DNA 메틸화 기반 연령, 외형, 생활습관 추정 모델</b>을 테스트해볼 수 있습니다.
                  또한 용의자 특성 예측을 위한 웹 기반 통합 정보분석 플랫폼을 목표로 합니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>



{% endblock %}

{% block script %}

{% endblock %}