{% extends 'base.html' %}
{% load bbs_filter %}
{% block content %}

    <!--메인콘텐츠 시작-->
    <!--함수선택Navbar-->
    <div class="container px-4 px-lg-5" style="margin-top: 10px;">
        <div class="card">
            <div class="card-header">
                <h3>{{user.username}}님 환영합니다!</h3>
            </div>
            <div class="card-body">
              <table class="table table-hover">
                &nbsp; 유저 정보
                <thead>
                  <tr>
                    <th scope="col">아이디</th>
                    <th scope="col">레벨</th>
                    <th scope="col">이메일</th>
                    <th scope="col">가입 일자</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user_info in user_list %}
                  <tr>
                    <td>{{user_info.username}}</td>
                    <td>{{user_info.profile.level}}</td>
                    <td>{{user_info.email}}</td>
                    <td>{{user_info.date_joined | date:'Y-m-d H시i분'}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <hr>
              <a href="{% url 'bbs:index' %}" class="btn btn-primary">돌아가기</a>
              {% if user.is_authenticated and user.profile.level >= 7 %}
              <a href="/admin/auth/user" class="btn btn-danger">
                  관리자 페이지 가기
              </a>
              {% else %}
              <a  href="#" class="btn btn-danger disabled"  role="button">
                관리자 페이지 가기
              </a>
              <h6>(level 7 이상만 정보를 수정할 수 있습니다.)</h6>
              {% endif %}
              
            </div>
          </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}