{% extends 'base.html' %}
{% load bbs_filter %}
{% block content %}

    <!--메인콘텐츠 시작-->
    <!--함수선택Navbar-->
    <div class="container px-4 px-lg-5" style="margin-top: 10px;">
        <div class="card">
            <div class="card-header">
                <h3>{{user.username}}님 환영합니다!</h3>
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" width=75%>내 정보</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">아이디</th>
                    <td colspan="2">{{user.username}}</td>
                  </tr>
                  <tr>
                    <th scope="row">레벨</th>
                    <td>{{user.profile.level}}</td>
                  </tr>
                  <tr>
                    <th scope="row">이메일</th>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <th scope="row">가입일자</th>
                    <td>{{user.date_joined | date:'Y-m-d H시i분'}}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <a href="{% url 'bbs:index' %}" class="btn btn-primary">돌아가기</a>
              <a href="{% url 'bbs:manage' %}" class="btn btn-danger">
                  유저 조회 페이지 가기
              </a>
            </div>
          </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}