{% extends 'base.html' %}

{% block content %}
<div class="container px-4 px-lg-5" style="margin-top: 10px;">
    <h5 class="my-3 border-bottom pb-2">
        게시글 등록
    </h5>
    <form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!--오류표시 시작-->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>
                    {{field.label}}
                </strong>
                {{field.errors}}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!--오류표시 끝-->

        <div class="form-group">
            <label for="subject">
                제목
            </label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="제목입력" value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="category">
                카테고리
            </label>
            <select class="form-control" name="category" id="category" style="width: fit-content;">
                <option value="notice"{% if form.category.value == 'notice' %}selected{% endif %} {% if user.is_authenticated and user.profile.level < 7  %}    
                    disabled
                    {% endif %}}>notice</option>
                <option value="post"{% if form.category.value == 'post' %}selected{% endif %} >post</option>
            </select>              
        </div>
        <div class="form-group">
            <label for="content">
                내용
            </label>
            <textarea class="form-control" name="content" id="content" placeholder="내용입력" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        {% if messages %}
	    {% for message in messages %}
        <div class="alert alert-secondary" role="alert">
            {{ message.message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card my-3">
            <div class="card-body"style="padding: 10px;">
            파일 업로드(30MB이하, 여러 파일은 압축해주세요.)
            <hr>
            {{form.uploadedFile|default_if_none:'' }}
        </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">
            저장하기
        </button>
    </form>
</div>
<!--simplemde-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    var simplemde_content = new SimpleMDE({spellChecker: false,  element: document.getElementById("content") });
    simplemde_content.value();
</script>
{% endblock %}